<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atox">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SPLASH SCREEN -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN SCREEN (COM AS ALTERAÇÕES DE RODRIGO) -->

        <!-- ONBOARD SCREEN WITH THE FRAGMENTS -->
        <activity android:name=".OnboardingActivity" />

        <!-- THE CUSTOM LOGIN SCREEN -->
        <activity
            android:name=".LoginScreenActivity"
            android:theme="@style/FullScreenTheme"></activity>

        <!--REGISTER SCREEN-->
        <activity android:name=".RegisterScreenActivity"
            android:theme="@style/FullScreenWithStatusBar"></activity>
    </application>

</manifest>